html,
body {
	margin: 0;
	padding: 0;

	color: var(--black);
	background-color: #F5F6F8;

	font-family: var(--font-family);
}

a {
	text-decoration: none;

	color: inherit;
}

* {
	box-sizing: border-box;
}

:root {
	--font-family: roboto, sans-serif;
	--black: #3B434E;
	--white: #FFFF;
	--primary: #7653FC;
	--red: #FC836D;
	--green: #1DC37E;
	--green-light: #C8F8E4;
}
